/* Ensure html and body take up the full viewport height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
    /* If needed, adjust the bottom to account for the zoom-level strip */
    padding-bottom: 20px;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    padding: 10px;
    z-index: 1;
}

/* Home button CSS within a control group */
.maplibre-gl-home {
    background-color: white;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.maplibre-gl-home i {
    font-size: 18px;
    color: #333;
}

#zoom-level {
    position: fixed;   /* Positions the element relative to the viewport */
    bottom: 0;         /* Anchors it to the bottom */
    left: 0;
    width: 100%;
    height: 20px;      /* Set the height of your bottom strip */
    background-color: white;
    padding-left: 10px;
    display: flex;
    align-items: center;  /* Vertically centers the content */
    font-size: 14px;
}
